<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>找回密码</title>

<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common/foot.css" rel="stylesheet" type="text/css" />

<link href="__PUBLIC__/css/GetPassword.css" rel="stylesheet" type="text/css" />

<script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
<script>
$(document).ready(function(e){
	$("#name").blur(function(e) {
		var name = $("#name").val();
		if (name == '') {
			$("#spanname").html("用户名不能为空");
			$("#spanname").css({"color":"#f00"});
		} else {
			$("#spanename").hide();
		}
	})
	
});
</script>
</head>

<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			
			<!--头部开始-->
			<div id="top">
				<a href="{:U('Index/index')}"><img src="__PUBLIC__/account/logo.png" width="150" height="50" border="0"/></a>
			</div>
			<!--头部结束-->
			
			<!--找回密码内容开始-->
			<div id="getPassword">
			<form action="{:U('Account/getpassword')}" method="post">
				<table>
					<if condition="$password eq ''">
					<tr height="50">
						<td colspan="3"><h4>找回密码</h4></td>
					</tr>
					<else/>
					<tr height="50">
						<td colspan="3"><h4>您的密码是:{$password}
							<a href="{:U('Account/login')}">请登录</a>
						</h4></td>
					</tr>
					</if>
					<tr height="50">
						<td height="24" align="right"><label class="control-label" for="inputInfo">用户名：</label></td>
						<td><input type="text" id="name" name="name" style="height:30px"></td>
						<td><span id="spanname"></span></td>
					</tr>
					
					
					<tr height="50">
						<td height="24" align="right" valign="middle"><label class="control-label" for="inputInfo">验证码：</label></td>
						<td><input type="text" id="captcha" name="captcha" style="width:80px;height:30px;">
						<img class="VerificationCode" src="__CONTROLLER__/verifyImg" width="100" height="30" /></td>
						<td><a href="{:U('Account/getpassword')}">看不清，换一张</a></td>
					</tr>
					
					<tr>
						<td></td>
						<td valign="middle" colspan="2">
							 <button class="btn btn-info" type="submit">找回密码</button>
						</td>
					</tr>
				
				</table>
				</form>
				
			</div>
			<!--找回密码内容结束-->
			
		</div>
	</div>
</div>
	
<!--foot-->
<div id="foot">
	<a href="#">关于我们 |</a>
	<a href="#">友情链接 |</a>
	<a href="#">用户协议 |</a>
	<a href="#">手机客户端 |</a>
	<a href="#">加入收藏</a>
	<p><span>客服热线：051085176789</span><span>邮箱：vip@moorere.com</span><span>地址：无锡市滨湖区锦溪路99号国家大学科技园513室</span></p>
	<p>Copyright @ 2013 www.uloupan.com All Rights Reserved.</p>
			
</div>
<!--foot结束-->


</body>
</html>
