<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>重置密码</title>

<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common/foot.css" rel="stylesheet" type="text/css" />

<link href="__PUBLIC__/css/ResetPassword.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			
			<!--头部开始-->
			<div id="top">
				<a href="{:U('Index/index')}"><img src="__PUBLIC__/account/logo.png" width="150" height="50" border="0"/></a>
			</div>
			<!--头部结束-->
			
			<!--重置密码内容开始-->
			<div id="getPassword">
				<table>
					<tr height="50">
						<td colspan="3"><h4>重置密码</h4></td>
					</tr>
					<tr height="50">
						<td colspan="3"><span class="prompt">请重新设置密码</span></td>
					</tr>
					<tr height="50">
						<td height="24" align="right"><label class="control-label" for="inputInfo">新密码：</label></td>
						<td><input type="password" id="inputInfo"></td>
						<td><span class="help-inline">新密码不能为空</span></td>
					</tr>
					
					
					<tr height="50">
						<td height="24" align="right"><label class="control-label" for="inputInfo">确认新密码：</label></td>
						<td><input type="password" id="inputInfo"></td>
						<td><span class="help-inline">确认新密码不能为空</span></td>
					</tr>
					
					<tr height="50">
						<td></td>
						<td valign="middle" colspan="2">
							 <button class="btn btn-info" type="button">提交</button>
						</td>
					</tr>
					
				</table>
				
				
			</div>
			<!--找回密码内容结束-->
			
		</div>
	</div>
</div>
	
<!--foot-->
<div id="foot">
	<a href="#">关于我们 |</a>
	<a href="#">友情链接 |</a>
	<a href="#">用户协议 |</a>
	<a href="#">手机客户端 |</a>
	<a href="#">加入收藏</a>
	<p><span>客服热线：051085176789</span><span>邮箱：vip@moorere.com</span><span>地址：无锡市滨湖区锦溪路99号国家大学科技园513室</span></p>
	<p>Copyright @ 2013 www.uloupan.com All Rights Reserved.</p>
			
</div>
<!--foot结束-->


</body>
</html>
