<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>楼盘，租房</title>

<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common/top.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/common/foot.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/Property.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/scripts.js"></script>

<style>
select{
	width:100px;
	color:#08c;
	border:1px solid #ccc;
}
</style>

</head>

<body>

<div class="container-fluid">
	<!--头部开始-->
	<div id="top">
		<div class="span2" id="logo">
			<a href="{:U('Index/index')}"><img src="__PUBLIC__/property/logo.png" width="150" height="50" border="0"></a>
		</div>
		<div class="span2" id="City" style="position:relative;">
			<span class="city1">无锡</span><a class="city-sel" href="#">[切换]
				
			</a>
			<div class="city2"style="position:absolute; display:none; top:40px; left:0; background:#fff; width:60px">
			<span style="width:60px; height:24px; display:block;line-height:24px;text-align:center;">南昌</span>
			<span style="width:60px;height:24px;display:block;line-height:24px;text-align:center;">无锡</span>
			</div> 
		</div>
		<script>
		$(document).ready(function(){
			$(".city-sel").click(function(){
				$(".city2").show()
			})
			$(".city2 span").click(function(){
				var city=$(this).text();
				$(".city1").text(city);
				$(".city2").hide()
			})
		});
		</script>
		
	</div>
	<!--头部结束-->
	
	<div class="clear"></div>

	<div class="span12">
		<!--导航开始-->
		<div class="navbar">
				<div class="navbar-inner">
						<div class="nav-collapse collapse navbar-responsive-collapse" id="Navigation">
							<ul class="nav">
								<li>
									<a href="{:U('Index/index')}">首页</a>
								</li>
								<li>
									<a href="{:U('Property/property')}">楼盘</a>
								</li>
								<li class="active">
									<a href="{:U('Property/renting')}">租房</a>
								</li>
								<li>
									<a href="{:U('Property/secondhandhouse')}">二手房</a>
								</li>
								<li>
									<a href="{:U('Property/buy')}">买房</a>
								</li>
								<li>
									<a href="{:U('Property/sellers')}">卖房</a>
								</li>
								
							</ul>
							<ul class="nav pull-right">
								<li>
									<a href="{:U('Account/login')}">登录</a>
								</li>
								<li>
									<a href="{:U('Account/register')}">注册</a>
								</li>
								<!--<li>
									<a href="#">倾城自恋</a>
								</li>-->
								<li class="divider-vertical">
								</li>
								<if condition="$username neq ''">
								<li class="dropdown">
									 <a data-toggle="dropdown" class="dropdown-toggle" href="#">
									 {$username}
									<strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											<a href="{:U('UserInfo/myfavorite')}">我的收藏</a>
										</li>
										<li>
											<a href="{:U('UserInfo/subscription')}">订阅管理</a>
										</li>
										<li>
											<a href="{:U('UserInfo/browsehistory')}">浏览历史</a>
										</li>
										<li>
											<a href="{:U('UserInfo/released')}">我的发布</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="{:U('UserInfo/releasesale')}">发布出售</a>
										</li>
										<li>
											<a href="{:U('UserInfo/releaserent')}">发布出租</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="{:U('Index/index')}">退出</a>
										</li>
										
									</ul>
								</li>
								<else/>
								<li></li>
								</if>
							</ul>
						</div>
						
				</div>
				
			</div>
			<!--导航结束-->
	</div>
	
	<!--条件搜索-->
	<div class="span12" id="ConditionSearch">
		<table cellpadding="0" cellspacing="0" border="0">
			<tr height="30">
				<td width="40"><span>区域：</span></td>
				<td width="40"><a class="allCondition" href="#" onclick="a('area')">全部</a></td>
				<td width="840">
					<a href="#" onclick="a('新区')">新区</a>
					<a href="#" onclick="a('惠山')">惠山</a>
					<a href="#" onclick="a('锡山')">锡山</a>
					<a href="#" onclick="a('北塘')">北塘</a>
					<a href="#" onclick="a('南长')">南长</a>
					<a href="#" onclick="a('崇安')">崇安</a>
					<a href="#" onclick="a('滨湖')">滨湖</a>
					<a href="#" onclick="a('宜兴')">宜兴</a>
				</td>
			</tr>
			<tr height="30">
				<td><span>价格：</span></td>
				<td><a class="allCondition" href="#" onclick="a('price')">全部</a></td>
				<td>
					<a href="#" onclick="a(1)">1000以下</a>
					<a href="#" onclick="a(2)">1000-1500</a>
					<a href="#" onclick="a(3)">1500-2000</a>
					<a href="#" onclick="a(4)">2000-2500</a>
					<a href="#" onclick="a(5)">3000-4000</a>
					<a href="#" onclick="a(6)">4000以上</a>
				</td>
			</tr>
			<tr height="30">
				<td><span>面积:</span></td>
				<td><a href="#" class="allCondition" onclick="a('mianji')">全部</a></td>
				<td>
					<a href="#" onclick="a(11)">50平以下</a>
					<a href="#" onclick="a(12)">50-70</a>
					<a href="#" onclick="a(13)">70-90</a>
					<a href="#" onclick="a(14)">90-110</a>
					<a href="#" onclick="a(15)">110-130</a>
					<a href="#" onclick="a(16)">130以上</a>
				</td>
			</tr>
			<tr height="30">
				<td><span>户型：</span></td>
				<td><a class="allCondition" href="#" onclick="a('type')">全部</a></td>
				<td>
					<a href="#" onclick="a(21)">一室</a>
					<a href="#" onclick="a(22)">二室</a>
					<a href="#" onclick="a(23)">三室</a>
					<a href="#" onclick="a(24)">四室</a>
					<a href="#" onclick="a(25)">5室以上</a>
				</td>
			</tr>
			<tr height="30">
				<td><span>方式：</span></td>
				<td><a class="allCondition" href="#" onclick="a('state')">全部</a></td>
				<td>
					<a href="#" onclick="a(31)">整套出租</a>
					<a href="#" onclick="a(32)">单间出租</a>
					<a href="#" onclick="a(33)">床位出租</a>
				</td>
			</tr>
			<tr height="30">
			<td><span>其他：</span></td>
			<td><a class="allCondition" href="#">不限</a></td>
			<td>
				<a href="#">
					<select name="" id="chao" onclick="b()">
						<option value="41">朝向不限</option>
						<option value="42">东</option>
						<option value="43">南</option>
						<option value="43">东南</option>
						<option value="45">西南</option>
					</select>
				</a>
				<a href="#">
					<select name="" id="xiu" onclick="c()">
						<option value="51">装修不限</option>
						<option value="52">毛坯</option>
						<option value="53">简单装修</option>
						<option value="54">中等装修</option>
						<option value="55">精装修</option>
						<option value="56">豪华装修</option>
					</select>
				</a>
			</td>
			</tr>
		</table>
		
		
		
	</div>
	
	<!--条件搜索结束-->
	
	<div class="span12" id="Content">
			<!--租房列表开始-->
		<div class="span9" id="PropertyList">
			<table cellpadding="0" cellspacing="0" width="700" border="0" id="res">
			<volist id="vo" name="result">
				<tr height="150">
					<td width="200" align="center"><a href="{:U('Property/rentdetail')}"><img src="__PUBLIC__/property/Property/{$vo.image}" width="160" height="117" border="0" /></a></td>
					<td width="350">
						<p><a href="rentdetail.html" class="PropertyName">{$vo.full}</a></p>
						<p>{$vo.type} {$vo.mianji}平米</p>
						<p>{$vo.addr}</p>
						<p>来着:{$vo.from}</p>
					</td>
					<td align="center" width="150"><p>房租<span class="PropertyPrice">{$vo.price}</span>元/平米</p></td>
				</tr>
			</volist>
			</table>
			
		</div>
		<!--租房列表结束-->
	</div>
	
	
	
	
		
</div>


	<div class="clear"></div>

<script>
//$("#res").hide();
function a(b) { 
var dash = '';
var d = '';
$.ajax({
	type:"get",
	url:"{:U('Property/search')}",
	async:true,
	data:{id:b},
	success(re){
		var data = eval(re);
		var length = data.length;
		for (var x in data) {
			var url = 'http://localhost/yxy/index.php/Home/Property/propertydetail.html?id='+data[x]['id'];
			dash += "<tr height='150'><td width='200' align='center'><a href='www.baidu.com'>";
			dash += "<img src='__PUBLIC__/property/Property/"+data[x]['image']+"' width='160' height='117' border='0' /></a></td>";
			dash += "<td width='350'><p><a href='"+url+"' class='PropertyName'>"+data[x]['name']+"></a></p>";
			dash += "<p>"+data[x]['type']+"</p><p>面积:"+data[x]['mianji']+"平米</p>";
			dash += "<p><a href='#'></a>"+data[x]['addr']+"</p><p>来着:"+data[x]['from']+"</td>";
			dash += "<td align='center' width='150'><p>房租<span class='PropertyPrice'>"+data[x]['price']+"</span>元/平米</p></td></tr>";
		}
		d += "<table cellpadding='0' cellspacing='0' width='700' border='0' id='res'>";
		d += dash;
		$("#res").html(d);
	},
	error(data) {
		alert(2);
	}
});
}

function b() {
	var dash = '';
	var d = '';
	var b = $("#chao").val();
	$.ajax({
		type:"get",
		url:"{:U('Property/search')}",
		async:true,
		data:{id:b},
		success(re){
			var data = eval(re);
			for (var x in data) {
				var url = 'http://localhost/yxy/index.php/Home/Property/propertydetail.html?id='+data[x]['id'];
				dash += "<tr height='150'><td width='200' align='center'><a href='www.baidu.com'>";
				dash += "<img src='__PUBLIC__/property/Property/"+data[x]['image']+"' width='160' height='117' border='0' /></a></td>";
				dash += "<td width='350'><p><a href='"+url+"' class='PropertyName'>"+data[x]['name']+"></a></p>";
				dash += "<p>"+data[x]['type']+"</p><p>面积:"+data[x]['mianji']+"平米</p>";
				dash += "<p><a href='#'></a>"+data[x]['addr']+"</p><p>来着:"+data[x]['from']+"</td>";
				dash += "<td align='center' width='150'><p>房租<span class='PropertyPrice'>"+data[x]['price']+"</span>元/平米</p></td></tr>";
			}
			d += "<table cellpadding='0' cellspacing='0' width='700' border='0' id='res'>";
			d += dash;
			$("#res").html(d);
		},
		error(data) {
			alert(2);
		}
	});
}

function c() {
	var dash = '';
	var d = '';
	var b = $("#xiu").val();
	$.ajax({
		type:"get",
		url:"{:U('Property/search')}",
		async:true,
		data:{id:b},
		success(re){
			var data = eval(re);
			for (var x in data) {
				var url = 'http://localhost/yxy/index.php/Home/Property/propertydetail.html?id='+data[x]['id'];
				dash += "<tr height='150'><td width='200' align='center'><a href='www.baidu.com'>";
				dash += "<img src='__PUBLIC__/property/Property/"+data[x]['image']+"' width='160' height='117' border='0' /></a></td>";
				dash += "<td width='350'><p><a href='"+url+"' class='PropertyName'>"+data[x]['name']+"></a></p>";
				dash += "<p>"+data[x]['type']+"</p><p>面积:"+data[x]['mianji']+"平米</p>";
				dash += "<p><a href='#'></a>"+data[x]['addr']+"</p><p>来着:"+data[x]['from']+"</td>";
				dash += "<td align='center' width='150'><p>房租<span class='PropertyPrice'>"+data[x]['price']+"</span>元/平米</p></td></tr>";
			}
			d += "<table cellpadding='0' cellspacing='0' width='700' border='0' id='res'>";
			d += dash;
			$("#res").html(d);
		},
		error(data) {
			alert(2);
		}
	});
}
</script>


</body>
</html>
