<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/pintuer.js"></script>  
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 课程管理</strong></div>
    <div class="padding border-bottom">
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th>课程号</th>
        <th>课程名称</th>       
        <th>学分</th>
        <th>教师</th>
        <th>学期</th>
        <th>课程性质</th>
        <th>操作</th>      
      </tr>     
      <volist name="user" id="vo">
      <tr>
          <td>
            {$vo.cno}</td>
          <td>{$vo.cname}</td>
          <td>{$vo.credit}</td>
          <td>{$vo.truename}</td>  
           <td>{$vo.term}</td>         
          <td>{$vo.require}</td>
          <td>
          	<div class="button-group">
          	<a href="{:U('Admin/addClass')}" class="button border-red"">
          		<span class="icon-tint">添加</span>
          	</a>
          	</div>
          	<div class="button-group">
          	<a href="{:U('Admin/editClass?cno='.$vo['cno'])}" class="button border-red"">
          		<span class="icon-edit">修改</span>
          	</a>
          	</div>
         	<div class="button-group"> 
         	<a class="button border-red" href="{:U('Admin/delClass?cno='.$vo['cno'])}">
         		<span class="icon-trash-o"></span> 删除</a> 
         	</div>
          </td>
        </tr>
      </volist> 
        
      <tr>
        <td colspan="8"><div class="pagelist"> {$page}</div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">
$(function(){
	$("#search").blur(function(e){
		var content = $(this).val();
		if (content == "") {
			$("#content").html("请您输入学生姓名或学号");
			$("#content").css({"color":"red","float":"left","margin-left":"64px"});
		} else {
			$("#content").hide();
		}
	}); 
});

</script>
</body></html>